@{
    ViewData["Title"] = "Layton Utah Temple";
}

<!--Temple picture-->
<div class="text-center bg-light">
    <img src="~/img/Layton_Temple.jpg" height="400" width="600" />
</div>

<!--Content-->
<h1 class="text-center">
    Welcome to the Layton Utah Temple Openhouse
</h1>

<br />

<p class="text-center">
    All are invited to come inside and see this beautiful new temple for
    themselves. <em>Open house tours are free of charge.</em>
    However, due to interest and limited space,
    we encourage you to please schedule a tour ahead of time.
</p>

<h2 class="blockquote text-center">
    "Each temple is a beacon of light and hope. The temple,
    the House of the Lord, stands as a symbol of our faith in life after death
    and as a stepping stone to eternal life for us and our families.
    The temple is a sacred and essential part of God’s plan for our happiness,
    now and forever."
</h2>


<p style="text-align:center;">
    Russell M. Nelson, President of the Church of Jesus Christ of Latter-Day Saints
</p>

<br />

<!--Multi Media Content-->
<div class="text-center">
    <h2>
        Temple Open Houses<br />
        <span class="blockquote">What to Expect When You Visit</span>
    </h2>

    <div class="text-center figure">
        <iframe src="https://www.youtube.com/embed/pmarf921mkA"
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;
                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</div>

<p class="text-center">
    There are so many good rescources to learn about The Church of Jesus Christ of Latter-day Saints as well as the purpose and meaning behind these magnificent structures called temples.
</p>

